bin
lib
additional
.idea
pyvenv.cfg
external
data
data/100_with_trailer
trailer_data
datalore
ml-25m
ml-20m-youtube
model_info
model
src/wandb_sweep_config/*
src/test.py
**/id_ed25519
**/id_ed25519.pub
**/__pycache__